/* blogg specific media queries */
@media (max-width: 600px) {
    #postContainer {
        padding: 10px; /* Mindre padding på mindre skjermer */
    }

    #postContainer h1 {
        font-size: 20px; /* Mindre tekststørrelse på overskriften for mindre skjermer */
    }
}

@media (max-width: 300px) {
    #postContainer {
        padding: 5px; /* Enda mindre padding for veldig små skjermer */
    }

    #postContainer h1 {
        font-size: 18px; /* Tilpasser tekststørrelsen ytterligere for veldig små skjermer */
    }
}

/*____________________________________*/

/*header*/

/*____________________________________*/

/*homepage*/
@media (max-width: 600px) {
    #postsContainer {
        padding: 10px;
        margin: 10px;
    }

    #prevButton, #nextButton {
        padding: 5px 10px;
    }
}

@media (max-width: 300px) {
    .post h2 {
        font-size: 16px;
    }
}
/*____________________________________*/

/*footer*/
/*____________________________________*/

/*about*/
/*____________________________________*/

/*contact*/
/*____________________________________*/

/* allblogg posts*/
/*____________________________________*/