@media (max-width: 768px) {
    .post img {
        width: 90%;
        object-fit: contain;
    }
}

@media (max-width: 600px) {
    .primary-header, .footer-container, #postsContainer, .contact-form {
        padding: 15px;
        margin: 10px;
    }

    #postContainer, .contact-form {
        padding: 10px;
        margin: 10px;
    }
}

@media (max-width: 380px) {
    .primary-header a, .footer-section li, .post h2, .about-page-content h1, .about-page-content p, .text-box {
        font-size: 14px;
    }
}
