/*coulors, fonts, etc*/

/*header*/
.primary-header {
    background-color: #FCDCB4;
    font-size: 16px;
}

.primary-header a {
    color: #000;
    text-decoration: none;
}

/*____________________________________*/
/* homepage carousell */
.carousel {
    border: 2px solid black; /* Ramme med svart farge og tykkelse på 2 piksler */
    background-color: #FCDCB4; /* Bakgrunnsfarge inni rammen */
    padding: 20px; /* Ekstra avstand mellom innholdet og rammen */
    margin-top: 50px; /* Avstand fra toppen av siden */
    margin-bottom: 50px; /* Avstand fra bunnen av siden */
}


/*footer*/
.footer-container {
    background-color: #FCDCB4;
    font-size: 16px;
    border-top: 1px solid #e5e5e5;
}

.footer-section {
    color: #000;
}

.social-media ul {
    list-style-type: none;
}


/*____________________________________*/
/*specific page*/
