/*header, footer, navigation, alerts, poppups */

/*header*/


.primary-header {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    z-index: 100;
    padding: 0 15px;
}


.logo img {
    height: 50px;
}

.primary-header a {
  padding: 0 10px;
}

/*------------------------------------*/

/* footer */
.footer-container {
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-section li{
    height: 60px;

}

.social-media li {
    margin: 0 10px;
 }
 .social-media li a {
     height: 50px;
 }
 
 .social-meida img {
     height: 100px;
     width: auto;
 }
 .social-media ul {
    padding: 0;
 }
/*------------------------------------*/


/* homepage carousell */


#postsContainer {
    position: relative;
    width: 100%;
  }

.post {
    display: inline-block;
    width: calc(25% - 20px); /* Juster bredden etter behov */
    margin: 0 10px;
  }
  .post h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
.post img {
    width: 100%;
    height: auto;
}
.carousel {
    position: relative; /* Posisjon relatert til foreldrelementet */
    border: 2px solid black;
    background-color: #FCDCB4;
    padding: 20px;
    height: 100vh;
}

.prev-button,
.next-button {
    position: absolute; /* Posisjon absolutt i forhold til karusellen */
    top: 50%; /* Plasser vertikalt midt i forhold til karusellens høyde */
    transform: translateY(-50%); /* Juster plasseringen for å sentrere vertikalt */
    background: none; /* Fjern bakgrunnsfarge */
    border: none; /* Fjern ramme */
    cursor: pointer; /* Endre markøren til en pil */
    z-index: 1; /* Sørg for at knappene alltid er over karusellen */
}

.prev-button {
    left: 0; /* Plasser til venstre for karusellen */
}

.next-button {
    right: 0; /* Plasser til høyre for karusellen */
}


/*------------------------------------*/
