/*header, footer, navigation, alerts, poppups */

/*header*/


.primary-header {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    position: relative;
    z-index: 100;
    padding: 0 15px;
}


.logo img {
    height: 50px;
}

.primary-header a {
  padding: 0 10px;
}


