/*header, footer, navigation, alerts, poppups */

/*header*/


.primary-header {
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    z-index: 100;
    padding: 0 15px;
}


.logo img {
    height: 50px;
}

.primary-header a {
  padding: 0 10px;
}

/*------------------------------------*/

/* footer */
.footer-container {
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.footer-section li{
    height: 60px;

}

.social-media li {
    margin: 0 10px;
 }
 .social-media li a {
     height: 50px;
 }
 
 .social-meida img {
     height: 100px;
     width: auto;
 }
 .social-media ul {
    padding: 0;
 }
/*------------------------------------*/

/* homepage carousell */
#carousel {
    overflow: hidden;
    width: 100%; /* Juster denne etter behov, kan også settes til en fast bredde */
}

#imageContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#imageContainer img {
    width: 25%; /* Hvert bilde tar 25% av containerens bredde */
    object-fit: cover; /* Tilpasser bildets størrelse for å fylle tilgjengelig plass */
    height: auto; /* Justerer bildets høyde automatisk basert på bredden for å opprettholde aspektforholdet */
}



#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

/*------------------------------------*/
