/*flex,grid,margins */

/*header*/
.primary-header {
    display: flex;
    align-items: center;
}

.logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.primary-header a:hover {
   text-decoration: underline;
}

.nav-section {
    display: flex;
}

.nav-section.left,
.nav-section.right {
    flex-grow: 1;
    justify-content: space-around
    
}

/*------------------------------------*/


/* all blogposts*/
#blogPostsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #000;
    background-color: #FCDCB4;
    max-width: 1200px; 
    gap: 20px; 
}

.post {
    flex: 1 1 calc(33.333% - 40px); 
    margin: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post img {
    width: 100%;
    height: auto;
}


#viewAllButton {
    display: block; 
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#blogPostsContainer a, #blogPostsContainer a:visited { 
    color: black; 
    text-decoration: none;  
}



.post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.post img:hover {
    transform: scale(1.05); 
    filter: brightness(1.1); 
}




/*about page*/
.about-page-content {
    background-color: #FCDCB4;
    margin-top: 50px;
}

.about-page-content h1 {
    text-align: center;
    margin: 20px 0;
}

.about-page-content p {
    margin: 20px;

}

.text-box {
    border: 2px solid black; 
    padding: 10px; 
    margin: 10px 0; 
    box-sizing: border-box; 
}

.about-content {
    display: flex;
    background-color: #FCDCB4;
    margin-top: 50px;
    border: 2px solid black;
    flex-direction: column;
}

.about-content h2 {
    text-align: center;
    margin: 20px 0;
}
.about-content img {
    width: 50%;
    height: 50%;
    margin: 20px;
    align-self: center
}

.about-content p {
    margin: 20px;
    color: black;

}

.about-content img:hover {
    transform: scale(1.05); 
    filter: brightness(1.1); 
}